{% extends "base.html" %}
{% block welcome %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
            {% for p in posts %}
                {{ p.render() | safe }}
                <div class="comments">
                    {% for c in p.comments_set %}
                        {{ c.render() | safe }}
                    {% endfor %}
                </div>
                <form action="/blog/add_comment" method="post">
                    <input type="text" name="comment" value={{ comment }}>
                    <input type="hidden" name="parent_key" value={{ p.key().id() }}>
                    <input type="submit">
                </form>

            {% endfor %}
        </div>
    </div>
{% endblock %}
